<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Geolocator</title>

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/geolocation.css">

	</head>
	<body class="ng-cloak" ng-app="GeoLocationApp" ng-strict-di>

		<header class="jumbotron">
			<h1 id="title">GeoLocation Test</h1>
		</header>

		<main id="mainContent" class="container">

			<section id="geoLocationContainer" class="row" ng-controller="UserLocationController">
				<location-info info="userLocation" class="table-responsive" ng-cloak></location-info>
				<menu>
					<button ng-click="getMyLocation()" ng-class="{ load:locating }" id="btnMyLocation" class="btn btn-lg btn-primary peel">{{ locating ? "Loading.." : "My location" }}</button>
					<button ng-click="resetLocationDetails()" id="btnResetLocation" class="btn btn-lg btn-primary peel">Reset location</button>
				</menu>
				<span class="error">{{ locationError }}</span>
			</section>

			<hr class="divider"></hr>

			<section id="webLocationContainer" class="row" ng-controller="WebLocationController">
				<label for="host" class="">Website</label>
				<menu>
					<input type="text" id="host" class="input-lg" ng-enter="getWebLocation()" placeholder="www.example.com" ng-model="host" required />
					<button ng-click="getWebLocation()" ng-class="{ load:locating }" id="btnLocate" class="btn btn-lg btn-primary peel">{{ locating ? "Loading.." : "Locate" }}</button>
				</menu>
				<span class="error">{{ locationError }}</span>
			</section>

			<figure ng-controller="MapController">
				<ui-gmap-google-map center="map.center" zoom="map.zoom" ng-if="map.show()" pan="true">
					<ui-gmap-markers models="map.markers()" coords="'self'" icon="'icon'" click="onMarkerClicked" idKey="'id'" options="'options'" fit="true">
						<ui-gmap-windows ng-cloak isIconVisibleOnClick="true" options="map.infoWindow.options" show="'showWindow'">
							<p ng-non-bindable>{{ options.windowMessage }} {{ latitude | number:4 }}, {{ longitude | number:4 }}!&nbsp;</p>
						</ui-gmap-windows>
					</ui-gmap-markers>
				</ui-gmap-google-map>
			</figure>

		</main>

		<aside id="WebHistoryContainer" ng-controller="WebHistoryController" ng-class="{ show:show }">
			<div>{{ showOverlay }}</div>
			<div class="sideBar whiteShadow" ng-click="toggle();">{{ show ? "Hide" : "Show" }} History</div>
			<history-info info="history" recall="recall"></history-info>
		</aside>

		<footer class="jumbotron">
			<span>&copy; Attila Pix 2015</span>
		</footer>

		<div class="overlay" ng-controller="OverlayController" ng-class="{ show:show }" ng-click="hide();"></div>

		<!-- Libraries -->
		<script src="js/libs/lodash.min.js"></script>
		<script src="js/libs/angular.min.js"></script>
		<script src="js/libs/angular-google-maps.min.js"></script>

		<script src="js/DateFormatting.js"></script>

		<!-- Modules -->
		<script src="js/app.js"></script>

		<!-- Controllers -->
		<script src="js/controllers/UserLocationController.js"></script>
		<script src="js/controllers/WebLocationController.js"></script>
		<script src="js/controllers/WebHistoryController.js"></script>
		<script src="js/controllers/OverlayController.js"></script>
		<script src="js/controllers/MapController.js"></script>

		<!-- Directives -->
		<script src="js/directives/locationInfo.js"></script>
		<script src="js/directives/historyInfo.js"></script>
		<script src="js/directives/ngEnter.js"></script>

		<!-- Services -->
		<script src="js/services/locator.js"></script>
		<script src="js/services/webHistory.js"></script>

		<!-- Filters -->
		<script src="js/filters/excludeUndefined.js"></script>

	</body>
</html>
